@model Employee
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Employee</h1>
<br />
<br />

<form asp-action="Delete">
    <partial name="EmployeePartialView/_DeleteDetailsPartialView" />

        <div class="my-3">
            <input type="submit" value="Delete" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-light">Back To List</a>
        </div>
</form>


