@model Employee
@{
    ViewData["Title"] = "Details";
}

<h1>Details Page</h1>
<br />
<br />

<form asp-action="Details">
    <partial name="EmployeePartialView/_DeleteDetailsPartialView" />
        <div class="my-3">
            <a asp-action="Edit" asp-route-id="@Model.Id"  class="btn btn-warning">Edit</a>
            <a asp-action="Index" class="btn btn-light">Back To List</a>
        </div>
</form>


