@model CreateEmployeeDto
@{
    ViewData["Title"] = "Details";
    var id = ViewData["id"];
    var Departments = new SelectList(ViewData["departments"] as IEnumerable<Department> ?? new List<Department>(), "Id", "Name");

}

<h1>Details Page</h1>
<br />
<br />
<div>
    <partial name="EmployeePartialView/_DeleteDetailsPartialView" />

    <a asp-route="@Model." asp-action="Edit" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</div>