@model Department
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Department</h1>
<br />
<br />
<form asp-action="DeleteConfirmed" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" name="id" value="@Model.Id" />

    <partial name="DepartmentPartialView/_DeleteDetailsPartialView" />

    <div class="my-3">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-light">Back To List</a>
    </div>
</form>

