@model CreateEmployeeDto
@{
    var Departments = new SelectList(ViewData["departments"] as IEnumerable<Department> ?? new List<Department>(), "Id", "Name");
}
<div class="d-flex justify-content-center my-3">
    <td>
        <img src="@Url.Content("~/files/images/" + Model.ImageName)" class="img-fluid rounded-circle" style="width: 150px; height: 150px;" />
    </td>
</div>

<div class="my-3">
    <label asp-for="Name" class="col-form-label"></label>
    <input asp-for="Name" class="form-control" readonly />

</div>

<div class="my-3">
    <label asp-for="Age" class="col-form-label"></label>
    <input asp-for="Age" class="form-control" readonly />

</div>


<div class="my-3">
    <label asp-for="Email" class="col-form-label"></label>
    <input asp-for="Email" class="form-control" readonly />

</div>

<div class="my-3">
    <label asp-for="Address" class="col-form-label"></label>
    <input asp-for="Address" class="form-control" readonly />

</div>

<div class="my-3">
    <label asp-for="Phone" class="col-form-label"></label>
    <input asp-for="Phone" class="form-control" readonly />

</div>
<div class="my-3">
    <label asp-for="Salary" class="col-form-label"></label>
    <input asp-for="Salary" class="form-control" readonly />

</div>
<div class="my-3">
    <label asp-for="IsActive" class="form-check" readonly></label>
    <input asp-for="IsActive" class="col-form-label" />
</div>
<div class="my-3">
    <label asp-for="IsDeleted" class="form-check" readonly></label>
    <input asp-for="IsDeleted" class="col-form-label" />

</div>
<div class="my-3">
    <label asp-for="HirringDate" class="col-form-label"></label>
    <input asp-for="HirringDate" class="form-control" readonly />
</div>
<div class="my-3">
    <label asp-for="DepartmentId" class="col-form-label"></label>
    <select asp-for="DepartmentId" asp-items="@Departments" class="form-control" disabled>
        <option value="">-- Select department --</option>
    </select>
    <input type="hidden" asp-for="DepartmentId" />
</div>
<div class="my-3">
    <label asp-for="Image" class="col-form-label"></label>
    <input asp-for="Image" class="form-control" disabled />
</div>