@model RoleToReturnDto
@{
    ViewData["Title"] = "Edit";

}

<h1>Edit</h1>
<br />  
<br />  
<form asp-action="Edit" enctype="multipart/form-data">
    <partial name="EmployeePartialView/_CreateEditPartialView" />
    <a asp-action="AddorRemoveUser" asp-route-roleId="@Model.Id" class="btn btn-success">Add or Remove User</a>

    <div class="my-3">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-light">Back to List</a>
    </div>
</form>

@*Client side validation not to send request if unvalid requirmentts*@
@section ValidationSection
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}