@model ResetPasswordDto
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All" class="m-3 alert-danger">
		</div>
		<form asp-action="ResetPassword">

			<input class="text" asp-for="NewPassword" placeholder="New Password" required="">
			<input class="text" asp-for="NewConfirmPassword" placeholder="Confirm Password" required="">

			<input type="submit" value="Reset Password">
		</form>

	</div>
</div>

@section Validation
{
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
<h1>ForgetPassword</h1>